{% extends 'admin/base.html' %}
{# TODO: Handle admin inheritance #}
{% load i18n admin_urls static admin_modify %}

{% block title %}Add polls per game{% endblock %}


{% block content %}
  <h2>Add polls</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Add</button>
  </form>
{% endblock %}
